
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Passion One', sans-serif;
}

#root {
    height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
}

/* --------Nav/Header-------- */

#headerNav {
    background-color: rgb(101, 205, 253);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
}

.navA {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 1rem;
    margin-right: 0.5rem;
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
}

.navA:hover {
    color: white;
}

.carrito {
    height: 2rem;
    margin-right: 1rem;
}

.logoHeader {
    width: 200px;
    height: 54px;
}

/* ------------------------- */

section {
    padding: 0.5rem;
}

main {
    flex-grow: 1;
    padding: 0.5rem;
    background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
    background-blend-mode: screen;
}

footer {
    background-color: rgb(101, 205, 253);
    padding: 0.5rem;
    text-align: center;
    color: black;
}

/* ------------ CONTADOR ------------- */

.botonMas{
    font-size: 1.3rem;
    border: 0rem;
    padding: 0rem 0.6rem 0rem 0.6rem;
    margin: 0.3rem;
}

.botonMenos{
    font-size: 1.3rem;
    border: 0rem;
    padding: 0rem 0.8rem 0rem 0.8rem;
    margin: 0.3rem;
}

.botonConfirmar{
    font-size: 1.3rem;
    border: 0rem;
    padding: 0rem 0.8rem 0rem 0.8rem;
    margin-left: 1rem;
}

/* ------------ CARDS ------------- */

.detallesBoton {
    text-transform: uppercase;
    font-size: 1rem;
    border: 0rem;
    padding: 0.3rem 0.7rem 0.2rem 0.7rem;
    letter-spacing: 0.06rem;
}

.detallesBoton:hover {
    color: white;
}

.cardTitulo {
    text-align: center;
    font-size: 1.4rem;
}

.cardPrecio {
    text-align: center;
    font-size: 1.1rem;
}

.flexDad{
    height: 40rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}

.flexSon{
    width: 20rem;
    height: 27rem;
    margin: 0.7rem;
    align-items: center;
}

.backGround {
    background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
    background-blend-mode: screen;
}