
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Passion One', sans-serif;
}

#root {
    height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
}

/* --------Nav/Header-------- */

#headerNav {
    background-color: rgb(101, 205, 253);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
}

.navA {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 1rem;
    margin-right: 0.5rem;
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
}

.navA:hover {
    color: #eadfdf;
}

.carrito {
    height: 2rem;
    margin-right: 0.8rem;
}

.logoHeader {
    width: 200px;
    height: 54px;
}

/* ------------------------- */

section {
    padding: 0.5rem;
}

main {
    flex-grow: 1;
    padding: 0.5rem;
    background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
    background-blend-mode: screen;
}

footer {
    background-color: rgb(101, 205, 253);
    padding: 0.5rem;
    text-align: center;
    color: black;
}

/* ------------ CONTADOR ------------- */

.botonMas{
    font-size: 1.7rem;
    border: 0rem;
    padding: 0rem 0.7rem;
    margin: 0rem 0.6rem 0.2rem 0.2rem;
}

.botonMas:hover {
    color: white;
}

.botonMenos{
    font-size: 1.7rem;
    border: 0rem;
    padding: 0rem 0.8rem;
    margin: 0rem 0.4rem 0.2rem 0.2rem;
}

.botonMenos:hover {
    color: white;
}

.botonConfirmar{
    font-size: 1.6rem;
    border: 0rem;
    padding: 0.1rem 0.8rem;
    margin: 0rem 0.4rem 0.2rem 1rem;
    letter-spacing: 0.1rem;
}

.botonConfirmar:hover {
    color: white;
}

.botonIrAlCarrito {
    font-size: 1.6rem;
    border: 0rem;
    padding: 0.2rem 0.8rem;
    margin: 3rem 0rem 0rem 6.5rem;
    letter-spacing: 0.1rem;
}

.countStock {
    font-size: 1.5rem;
    margin: 1.5rem 0.2rem 0.6rem 0.2rem;
}

.countCantidad {
    font-size: 1.7rem;
    margin: 1.5rem 0.2rem 0.7rem 0.2rem;
}

/* ------------ CARDS PRODUCTOS ------------- */

.detallesBoton {
    text-transform: uppercase;
    font-size: 1.1rem;
    border: 0rem;
    padding: 0.3rem 0.7rem 0.2rem 0.7rem;
    letter-spacing: 0.06rem;
}

.detallesBoton:hover {
    color: white;
}

.linkBoton {
    text-decoration: none;
    color: black;
}

.linkBoton:hover {
    color: white;
}

.cardTitulo {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 0.3rem;
}

.cardPrecio {
    text-align: center;
    font-size: 1.2rem;
    margin: 0.5rem 0.7rem 0.8rem;
}

.flexDad{
    height: 115rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.flexSon{
    padding-top: 1rem;
    width: 20rem;
    height: 29rem;
    margin: 0.7rem;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.backGround {
    background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
    background-blend-mode: screen;
}

/* ------------ CARD DETAIL ------------- */

.flexDetailDiv {
    display: flex;
    justify-content: center;
}

.flexDetailDad {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 10rem 3rem;
    padding: 0.5rem 0.8rem;
}

.flexDetailSon {
    margin: 0.5rem;
    height: 28rem;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.detailTitle {
    text-align: center;
    font-size: 2.4rem;
    margin: 1.4rem 0.2rem 1.7rem;
}

.detailSubTitle {
    font-size: 1.8rem;
    margin: 1.5rem 0.2rem;
}

.detailPrice {
    font-size: 1.8rem;
    margin: 0.4rem 0.2rem;
}




/*.---------- MEDIA QUERIES ----------.*/
/*.---------- CARDS/PRODUCTOS ----------.*/

@media (min-width: 2280px) {
    .flexDad{
        padding: 3rem 12rem;
    }
}

@media (min-width: 1991px) {
    .flexDad{
        height: 100rem;
    }
}

@media (max-width: 1990px) {
    .flexDad{
        padding: 3rem 15rem;
    }
}

@media (max-width: 1754px) {
    .flexDad{
        padding: 3rem 8rem;
    }
}

@media (max-width: 1538px) {
    .flexDad{
        padding: 3rem 5rem;
    }
}

@media (max-width: 1433px) {
    .flexDad{
        height: 145rem;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}

@media (max-width: 1125px) {
    .flexDad{
        height: 135rem;
        padding: 2rem 1rem;
    }
}

@media (max-width: 995px) {
    .flexDad{
        height: 200rem;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}



